<!-- views/index.ejs -->

<!doctype html>
<html>
<head>
    <title>Welcome | Study Spot</title>

    <% include ./partials/head %>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12 center">
            <h4>Login With</h4>
            <a href="/auth/facebook" class="btn blue"><span class="fa fa-facebook"></span> Facebook</a>
            <a href="/auth/google" class="btn red"><span class="fa fa-google-plus"></span> Google</a>
        </div>
    </div>
</div>
</body>


<% include ./partials/scripts %>

</html>
