<-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <% if (prompt) { %>
        <form action="#">
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">Red</label>
            </p>
            <p>
              <input type="checkbox" id="test6" checked="checked" />
              <label for="test6">Yellow</label>
            </p>
            <p>
              <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
              <label for="filled-in-box">Filled in</label>
            </p>
            <p>
              <input type="checkbox" id="indeterminate-checkbox" />
              <label for="indeterminate-checkbox">Indeterminate Style</label>
            </p>
            <p>
              <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
              <label for="test7">Green</label>
            </p>
              <p>
                <input type="checkbox" id="test8" disabled="disabled" />
                <label for="test8">Brown</label>
            </p>
        </form>
    <% } %>
</div>
</body>
</html>
